.paren{
    border: 5px solid red;
    margin: 20px;
    padding: 20px;
    position: relative;
}
.relative{
    border: 2px solid blue;
    padding: 10px;
    position: relative;
    top: 1000px;
    background-color:red;
    width: 400px;


}
.fixed{
    border: 5px solid green;
    padding: 10px;
    position: fixed;
   /* bottom: 0px;*/
   /* top: 0px;*/
    /*left: 0px;*/
   /* right: 0px;*/
   top: 20px;
   left: 500px;
   background-color:blue;
   color: #fff;
   font-style: italic;
   z-index: 1;

}

.absoulte{
    border: 3px solid orange;
    padding: 20px;
    background-color: aqua;
    position:absolute;
   top: 800px;
    width: 200px;
}