div{
   border:5px solid #0000ff;
    color: blue;
    margin-top:10%;
    margin-left: 20%;-bottom: 
    
    margin-right: 30%;
    margin-block-end: 50px;
    margin-block-start: 20%;
    margin
}
p{
    border:5px solid blue;
}